.glyphicon {
    margin-right:5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
    width: 100%;
}

.item.list-group-item {
    float: none;
    width: 80%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: none;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.cart-button {
    right: 10px;
    top: 5px;
}

#form-id {
    position: relative;
    bottom: 30px;
    right: 16px;
}

.filter .formbutton {
    flex-flow: row;
}

.jumbotron {
    background-size: contain;
    background: #7bc2e4 url("../img/banner.png") no-repeat;
}

.btn-primary {
    background-color: #2c7fa3;
    color: white;
}


.breadcrumb {
    border: 2px solid #dedede;
    border-radius: 5px;
    background: linear-gradient(#e8e8e8, #f2f2f2);
}

.row {
    flex-direction: row;
}
.btn-outline-info {
    background-color: white;
    transition: all .5s;
    border-color: #5bc0de;
    margin: 0px 5px;
}

.btn-outline-info:hover {
    background-color: #5bc0de;
    transition: all .5s;
    color: white;
}

.btn .btn-group {
    background-color: white;
}

.totalPrice {
    width: 150px;
    margin-left: auto;
    margin-right: 14%;
    padding: 10px 0px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    border-top: 1px solid #98d0c5;
}

.thead-primary {
    background-color: #b8daff;
}

body{
    background: radial-gradient(#ffffff, #eeeeee);
}


