<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>


<div th:fragment="copy">
    <form action="/edit/password" method="post">
        <input th:required="required" type="password" name="psw1" placeholder="new password"/>
        <br/>
        <input th:required="required" type="password" name="psw2" placeholder="new password again"/>
        <button type="submit" class = "btn btn-primary">Change Username</button>
    </form>
</div>
</body>
</html>