<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: copy"></head>
    <body>

        <div th:replace="header/header :: copy"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm tab" >
                    <a href="/admin/pending_rents"><div th:class="${rentTab} == 'pending' ? 'activetab firsttab' : 'inactivetab firsttab'">Pending rents</div></a>
                </div>
                <div class="col-sm tab" >
                    <a href="/admin/rented_rents"><div th:class="${rentTab} == 'rented' ? 'activetab' : 'inactivetab'">Rented rents</div></a>
                </div>
                <div class="col-sm tab" >
                    <a href="/admin/returned_rents"><div th:class="${rentTab} == 'returned' ? 'activetab lasttab' : 'inactivetab lasttab'">Returned rents</div></a>
                </div>
            </div>
            <div th:switch="${rentTab}">
                <div th:case="'pending'">
                    <div th:replace="profile/admin/pending_table :: copy"></div>
                </div>
                <div th:case="'rented'">
                    <div th:replace="profile/admin/rented_table :: copy"></div>
                </div>
                <div th:case="returned">
                    <div  th:replace="profile/admin/returned_table :: copy"></div>
                </div>
            </div>
        </div>
    </body>
</html>