<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: copy"></head>
    <body>

        <div th:replace="header/header :: copy"></div>
        <div class="container">
            <div th:replace="header/edit_profile :: copy"></div>
            <div th:replace="profile/member/pending_table :: copy"></div>
            <div th:replace="profile/member/rented_table :: copy"></div>
            <div th:replace="profile/member/returned_table :: copy"></div>
        </div>
    </body>
</html>