<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

<div th:replace="header/header :: copy"></div>

<div class="container">

    <div id="products" class="row list-group">

        <div class="item col-3" th:each="membership,iterStat : ${membershiplist}">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${membership.getLimit()}">Limit</h4>
                    <div class="row">
                        <div class="col-6">
                            <form action="/mebership" method="post">
                                    <input class="btn btn-secondary" type="submit" value ="Rent" disabled=""/>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div th:replace="footer :: copy"></div>
</div>

</body>
</html>