<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head :: copy"></head>
<body>

<div th:replace="header/header :: copy"></div>

<div class="container">

    <div id="products" class="row list-group">

        <div class="item col-3" th:each="membership,iterStat : ${membershiplist}">
            <div class="thumbnail">
                <div class="caption">
                    <h2 class="group inner list-group-item-heading" th:text="${membership.getMessage()}">
                        Message</h2>
                    <div class="row">
                        <div>
                            <div>
                                <h4 class="group inner list-group-item-heading"
                                    th:text="'Limit: ' + ${membership.getLimit()}">Limit</h4>
                                <div class="col-6">
                                    <h5 class="group inner list-group-item-heading" th:text="'Price: ' + ${membership.getPrice()}">
                                        Price</h5>
                                    <form action="/membership" method="post">

                                        <input type="hidden" th:value="${membership}" name="membership_type"/>
                                        <div th:if="${membership} != ${user_membership}">
                                            <input class="btn btn-primary" type="submit" value="Buy"/>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: copy"></div>
</div>

</body>
</html>