<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: copy"></head>
<body>

<div class="container" th:fragment="copy">
    <div class="breadcrumb">
        <div class="breadcrumb-item">
            Pending Table
        </div>
    </div>

    <table>
        <tr>
            <th>Rent ID</th>
            <th>Title</th>
            <th>Copy ID</th>
        </tr>
        <tr th:each="rent,iterStat : ${rentList}">
            <td th:text="${rent.getId()}"></td>
            <td th:text="${rent.getCopy().getMedia().getTitle()}"></td>
            <td th:text="${rent.getCopy().getId()}"></td>
        </tr>
    </table>

</div>
</body>
</html>