<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <span>
        <a href="/edit/username">
            <button class = "btn btn-warning">Edit User Name</button>
        </a>
    </span>
    <span>
        <a href="/edit/password">
            <button class = "btn btn-warning">Edit User Password</button>
        </a>
    </span>
    <span>
        <a href="/membership">
            <button class = "btn btn-warning">Buy New Membership</button>
        </a>
    </span>
</div>

</body>
</html>