<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="form-inline">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" alt=""/>
                </a>
                <form class="form-inline filter" action="/filter" method="get">
                    <div th:object="${categories}">
                        <select class="form-control" id="category" name="category">
                            <option value="0">ALL</option>
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getType()}"></option>
                        </select>
                    </div>

                    <div  th:object="${genres}">
                        <select class="form-control" id="genre" name="genre">
                            <option value="0">ALL</option>
                            <option th:each="gen : ${genres}"
                                    th:value="${gen.getId()}"
                                    th:text="${gen.getType()}"></option>
                        </select>
                    </div>
                    <button type="selectCategory" class="btn btn-primary">Filter</button>
                </form>
            </div>
            <div th:replace="header/login_block :: copy"></div>

        </div>
    </div>
    <div class="jumbotron text-center">
        <img id="bannerlogo" src="/img/CB_logo2.png" alt=""/>
    </div>
</div>

</body>
</html>