<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>

        <div th:fragment="copy">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="form-inline">
                        <a class="navbar-brand" href="/">
                            <img src="/img/logo.png" alt=""/>
                        </a>
                    </div>
                    <div th:replace="header/login_block :: copy"></div>
                </div>

            </div>
            <div class="jumbotron text-center">
                <h2>
                    CrashBooks
                    <small class="text-white">by Code Crashers</small>
                </h2>
            </div>
        </div>

    </body>
</html>