<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<ul class="nav navbar-nav" th:fragment="copy">
    <li class="active">
        <div th:if="${memberName}">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary reg" th:text="'Hi ' + ${memberName}"></button>
                <a href="/logout">
                    <button type="button" class="btn btn-outline-primary log">Logout</button>
                </a>
            </div> <!--TODO check it-->
                <a href="/profile"><img th:src="${#strings.toString(memberShip)} != 'ADMIN' ? '/img/profile.png' : ''" alt=""/></a>
        </div>
        <div th:unless="${memberName}">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/registration">
                    <button type="register" class="btn btn-primary reg">Register</button>
                </a>
                <a href="/login">
                    <button type="login" class="btn btn-primary log">Login</button>
                </a>
            </div>
        </div>
    </li>
</ul>

</body>
</html>

